{{!-- Bootstrap layout for signed-in user --}}

{{!--{{#side-menu width="85%"}}
  {{main-menu
    appModel=appModel
    currentItemChanged="mobileMenuItemChanged"
  }}
{{/side-menu}}
{{content-backdrop}}--}}

{{!--<div class="row row-mobile-menu visible-xs-block visible-sm-block disable-user-select">--}}
<div class="top-nav navbar-fixed hide-on-large-only">
  <nav>
    <div class="nav-wrapper">
      <div class="row">
        {{!--<div class="left">
          {{#side-menu-toggle}}
            <button type="button" class="navbar-toggle">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          {{/side-menu-toggle}}
        </div>--}}
        <div class="left">
          <a href="#" data-activates="nav-mobile"
            class="button-collapse top-nav full hide-on-mid-and-down">
            <i class="material-icons">menu</i>
          </a>
        </div>
        <div class="left">
          <a class="page-title" {{action "showMobileSidebar"}}>
            {{currentTabId}}
          </a>
        </div>
      </div>
    </div>
  </nav>
</div>

<div id="nav-mobile" class="side-nav fixed main-menu-container disable-user-select">
  {{!-- brand-logo class --}}
  <a class="row row-onedata-logo brand-logo">
    <div class="onedata-logo"></div>
  </a>
  {{main-menu
    appModel=appModel
    currentItemChanged="mainMenuItemClicked"
  }}
</div>

<div class="app-grid row full-height">
  {{!--{{#perfect-scrollbar-element tagName="div"
    class="col-in-app-layout main-menu-container col hide-on-small-only hide-on-med-only l2 full-height disable-user-select"
    click=(action "closeSidenav" bubbles=true)
  }}
    <div class="row row-onedata-logo">
      <div class="onedata-logo"></div>
    </div>
    <div class="row row-main-menu">

    </div>
  {{/perfect-scrollbar-element}}--}}      
  
  {{#one-sidenav open=sidenavSidebarOpen id="sidenav-sidebar"
    coverSelector="#col-sidebar" model=sidenavModel.content
  }}
    {{#if sidenavModel.isFulfilled}}
      {{component sidenavContentComponent model=sidenavModel.content}}
    {{else if sidenavModel.isPending}}
      TODO Loading...
    {{else if sidenavModel.isRejected}}
      TODO Rejected!
    {{/if}}
  {{/one-sidenav}}
  {{#perfect-scrollbar-element tagName="div" id="col-sidebar"
    class=colSidebarClass
  }}
    {{#if sidenavSidebarOpen}}
      <div class="overlay" {{action "closeSidenav" bubbles=true}}></div>
    {{/if}}
    {{yield 'sidebar'}}
  {{/perfect-scrollbar-element}}
  {{#perfect-scrollbar-element
    class=colContentClass
  }}
    {{#if sidenavSidebarOpen}}
      <div class="overlay" {{action "closeSidenav" bubbles=true}}></div>
    {{/if}}
    {{yield 'content'}}
  {{/perfect-scrollbar-element}}
</div>
